<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4">
                <h5 class="mb-3">PetAdopt</h5>
                <p>Uma solução completa para gestão de adoções animais, desenvolvida para ajudar ONGs a salvar mais vidas.</p>
                <div class="social-links mt-3">
                    <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-2 col-md-6">
                <h5 class="mb-3">Links Rápidos</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a th:href="@{/index}" class="text-white-50">Início</a></li>
                    <li class="mb-2"><a th:href="@{/lista-animais}" class="text-white-50">Animais</a></li>
                    <li class="mb-2"><a th:href="@{/lista-adotantes}" class="text-white-50">Adotantes</a></li>
                    <li class="mb-2"><a th:href="@{/lista-adocoes}" class="text-white-50">Adoções</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="mb-3">Contato</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="fas fa-envelope me-2"></i> contato@petadopt.com</li>
                    <li class="mb-2"><i class="fas fa-phone me-2"></i> (71) 1234-5678</li>
                    <li class="mb-2"><i class="fas fa-map-marker-alt me-2"></i> Salvador, BA</li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; 2025 PetAdopt Manager. Todos os direitos reservados.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">Desenvolvido com <i class="fas fa-heart text-danger"></i> para animais</p>
            </div>
        </div>
    </div>
</html>
