<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <body>
        <div class="banner-container">
        <img src="/images/banner9.jpeg" alt="Banner do PetAdopt" class="banner-img">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/index}">
                                <i class="fas fa-home"></i>Página Inicial
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="cadastrosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-plus-circle"></i>Cadastros
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="cadastrosDropdown">
                                <li><a class="dropdown-item" th:href="@{/cadastrar-animal}"><i class="fas fa-paw"></i> Cadastro de Animais</a></li>
                                <li><a class="dropdown-item" th:href="@{/cadastrar-adotante}"><i class="fas fa-user-plus"></i> Cadastro de Adotantes</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="registrosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-clipboard-list"></i>Registros
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="registrosDropdown">
                                <li><a class="dropdown-item" th:href="@{/registro-adocoes}"><i class="fas fa-heart"></i> Registro de Adoções</a></li>
                                <li><a class="dropdown-item" th:href="@{/registro-devolucoes}"><i class="fas fa-undo"></i> Registro de Devoluções</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="listasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-list"></i>Listas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="listasDropdown">
                                <li><a class="dropdown-item" th:href="@{/lista-animais}"><i class="fas fa-paw"></i> Lista de Animais</a></li>
                                <li><a class="dropdown-item" th:href="@{/lista-adotantes}"><i class="fas fa-users"></i> Lista de Adotantes</a></li>
                                <li><a class="dropdown-item" th:href="@{/lista-adocoes}"><i class="fas fa-heart"></i> Lista de Adoções</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>
