<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <div class="banner"></div>
    <nav>
        <a th:href="@{/index}">Página Inicial</a>
        <a th:href="@{/cadastrar-animal}">Cadastro de Animais</a>
        <a th:href="@{/cadastrar-animal}">Cadastro de Adotantes</a>
        <a th:href="@{/cadastrar-animal}">Registro de Adoções</a>
        <a th:href="@{/cadastrar-animal}">Registro de Devoluções</a>
        <a th:href="@{/cadastrar-animal}">Lista de Animais</a>
        <a th:href="@{/cadastrar-animal}">Lista de Adotantes</a>
        <a th:href="@{/cadastrar-animal}">Lista de Adoções</a>
    </nav>
</html>
